:root {
    --dorado: #DAA520;
    --negro: #000000;
    --crema: #F5F5DC;
    --azul-medianoche: #2B3E50;
    --gris: #D3D3D3;
}

body {
    background-color: var(--crema);
    color: var(--negro);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: var(--azul-medianoche);
    border-bottom: 3px solid var(--dorado);
}

.btn-primary {
    background-color: var(--dorado);
    border-color: var(--dorado);
    color: var(--negro);
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #B8860B; /* Un tono un poco más oscuro para el efecto hover */
    border-color: #B8860B;
}

.card {
    border: 1px solid var(--gris);
    background-color: #ffffff;
}
/* Fondo negro para el navbar */
.navbar-fenix {
    background-color: #000000 !important;
}

.navbar-fenix .display-5 {
    color: #ffffff !important;
}

/* Ocultar el cuadro de integridad si no lo quieres */
.border-danger {
    display: none; 
}